* {
    font-family: "Lato", sans-serif;
  }
  body {
    height: 90vh;
    display: flex;
    background: aliceblue;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
  ul {
    list-style: none;
  }
  // variables
  $yellow: #feb103;
  $gray: #f6f8fa;
  $black: #444;
  $text-gray: #9e9e9e;
  $text-gray2: #858d9f;
  $blue1: #3976f6;
  $blue2: #59a2fb;
  $switchOff: #ff574e;
  // helper class
  .f {
    display: flex;
  }
  .fe {
    align-items: flex-end;
  }
  // start
  body {
    background-color: rgba(89, 162, 251, 0.61);
  }
  .dashboard {
    background-color: $gray;
    width: 420px;
    border-radius: 0 0 20px -15px black;
    margin: auto;
  }
  header {
    background-color: white;
    overflow: hidden;
    border-radius: 0 0 50px 50px;
    padding: 40px 40px 20px;
    box-shadow: 0 -5px 27px 0 rgba(128, 128, 128, 0.15);
  }
  .weather {
    margin-top: 40px;
    width: 100%;
    position: relative;
    overflow: hidden;
    sup {
      font-size: 11px;
      position: relative;
      top: -11px;
    }
    &::before {
      content: "";
      position: absolute;
      width: 130px;
      height: 60px;
      background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 0.5) 50%,
        rgba(255, 255, 255, 1) 100%
      );
      right: 0;
      bottom: 14px;
    }
    > div {
      white-space: nowrap;
    }
    > div + div {
      margin-left: 30px;
    }
    > div > strong {
      font-size: 20px;
    }
    > div > p {
      color: $text-gray;
      margin-top: 10px;
    }
  }
  